*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body{
    background-color: #1c1c1c;
    color: white;
}
p{
    margin:20px 0;
}
main{
    margin:auto;
    width: 900px;
    text-align: center;
    position: relative;
}
.tlo{
    height: 100%;
    z-index: -1;
    width: 100%;
    left:0;
    top:0;
    position: fixed;
    opacity: 0.5;
    background-repeat: no-repeat ;
    background-size: contain;
}
#tlo1{
    background-image: url("./grafiki/obrazkiDoTla/obrazekDoTla6.png");
    background-position: center left;
}
#tlo2{
    background-image: url("./grafiki/obrazkiDoTla/obrazekDoTla7.png");
    background-position: center right;
}
a{
    text-decoration: none;
    color:white;
}
section a{
    color:yellow;
}
section{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.naglowekSekcji{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: auto;
}
.naglowekSekcji h2{
    padding: 0 20px;
}
.naglowekSekcji a{
	color:white;
}
.naglowekSekcji img{
    height: 30px !important;
    width: 60px !important;
    display: block;
}
    /*      HEADER + NAV     */
header{
    padding:50px 0;
    background-image: url("grafiki/tla/tlo1.jpg");
    text-align: right;
}
nav{
    width: 94%;
    padding: 0 3% 0 3%;
    background-color: rgba(255, 255, 255, 0.37);
    height: 100px;
}

ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav li{
    text-align: center;
    width: 15%;
    margin: 5px;
}

nav img, nav a{
    width: 100%;
    height: 100%;
}
header div:first-of-type{
    float: left;
    position: absolute;
    width: 60%;
    height: 95%;
    bottom: 0;
}
header div:first-of-type>img{
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
header div:nth-of-type(2){
    width: 50%;
    padding-right: 20px;
    text-align: right;
    position: relative;
}
header div:nth-of-type(2) img{
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-top:0;
}
header div:nth-of-type(2) p{
    overflow-x: visible;
    margin-top: 20px;
}
header div:nth-of-type(2)>p:last-child{
    background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.30) 100%);
    padding: 10px;
    font-size:xx-large;
    position: relative;
    right: -20px;
}
header>section{
    padding-top:70px;
    text-transform: uppercase;
    position: relative;
    text-align: -webkit-right;
}
h2{
    display: inline;
}
    /*      SZYLD     */
#szyld{
    background-image: url("grafiki/tla/tlo2.jpg");
    position: relative;
    padding-top:120px;
    padding-bottom:50px;
    text-align: -webkit-right;
}
#szyld>div:first-of-type{
    display: block;
    width: 57%;
    padding-right: 20px;
    text-align: center;

}
#szyld>div:nth-of-type(2){
    width:400px;
    height: 400px;
    position: absolute;
    left:0;
    bottom: 50px;
}
#szyld>div:last-child>img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
#szyld p:first-of-type{
    margin-top:20px;
    margin-bottom: 5px;
}
#szyld p:last-of-type{
    font-size:xx-large
}
    /*      REZERWACJA/FORM     */
#rezerwacja{
    padding:30px 0;
    background-image: url("grafiki/tla/tlo3.jpg");
}
#rezerwacja>*{
    margin-top:20px;
}
#rezerwacja form>div{
    width: 700px;
    margin: auto;
}
.formWiersz{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top:30px;
}
.formWiersz>div{
    height: 60px;
    width: 250px;
}
#rezerwacja label, #rezerwacja input, #rezerwacja select{
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    height: 50%;
}
#rezerwacja input, #rezerwacja select{
    color:white;
    padding:5px;
    padding-left:10px !important;
}
#rezerwacja input::placeholder{
    color:white;
}
#rezerwacja select, input[type="date"]{
    background: url('./grafiki/listTriangle.png') no-repeat right;
    -webkit-appearance: none;
    background-position-x: calc(100% - 10px);
    background-size: 10px;
}
#rezerwacja input[type="date"]::-webkit-calendar-picker-indicator{
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}
#rezerwacja input::-webkit-inner-spin-button{
    display: none;
}
#rezerwacja input::-webkit-clear-button{
    display: none;
}
#rezerwacja input[type="time"]{
    background: url(./grafiki/clock.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: calc(100% - 10px);
    background-size: 10px;
}
#rezerwacja select>option{
    color:black;
}
#rezerwacja label{
    display: block;
}
#rezerwacja input, #rezerwacja select{
    border: 1px solid gold;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
}
#rezerwacja button{
    margin-top:20px;
    background-color: gold;
    color:black;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid gold;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    outline: none;
}
#rezerwacja button:active{
    border: 2px inset gold;
    border-radius: 10px;
}
    /*      GALERIA     */
#galeria{
    height: 700px;
    padding:50px 0;
    background-image: url("./grafiki/tla/tlo4.jpg");
}
#galeria>div:first-child{
    margin-bottom:50px;
}
#zdjecia{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    margin:auto;
    height: 85%;
    text-align: center;
    align-content: space-around;
    
}
#zdjecia a{
    flex:1;
    width: 240px;
    margin-bottom:10px;
}
#zdjecia a:last-child, #zdjecia a:nth-last-child(2){
    width: 280px;
}
#zdjecia a:nth-child(1){
    height: 67%;
}
#zdjecia a:nth-child(2){
    height: 37%;
}
#zdjecia a:nth-child(3),
#zdjecia a:nth-child(4),
#zdjecia a:nth-child(5),
#zdjecia a:nth-child(6){
    height: 31%;
}
#zdjecia a:nth-child(7){
    height: 64%;
}
#zdjecia img{
    width: 100%;
    height: 100%;
}
    /*      OPINIA      */
#opinia>img{
    width: 100%;
    height: 550px;
    display: block;
}
#opinia>div{
    background-image: url("grafiki/obrazkiDoTla/obrazekDoTla4.jpg");
    padding-top:20px;
    padding-bottom:10px;
    height: 130px;
    width: 100%;
    font-size:20px;
    color:yellow
}
#opinia>div>b{
    font-size: xx-large;
    position: absolute;
}
#opinia p:first-of-type{
    color:white;
}
    /*      MAPA        */
#mapa{
    background-image: url("./grafiki/tla/tlo5.jpg");
    padding:50px 0;
    position: relative;
    overflow: hidden;
}
#map{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    box-sizing: border-box;
    float: left;
}
#map > iframe{
    width: 100%;
    height: 100%;
}
#mapa>img{
    position: absolute;
    right: -25%;
    top:0;
    transform: rotate(180deg);

}
#mapa>div:first-child{
    margin-bottom:50px;
}
    /*      KONTAKT I STOPKA     */
#kontakt{
    width: unset;
    padding-top:100px;
    font-size: large;
}
#kontakt>h2{
    color:yellow;
}
#kontakt>p{
    margin:20px 0;
}
footer{
    margin-top:30px;
}
#kontakt p,footer p{
    text-shadow: 1px 1px 5px black;
}
	/*			O NAS			*/
#oNas{
	box-sizing:border-box;
	padding: 20px;
	background-image:url("./grafiki/tla/tlo2.jpg");
	font-size:large;
}
    /*      MENU I ALKOHOLE     */
#menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
#menu img{
    width: 49%;
    margin-bottom: 5px;
}
#menu img:nth-child(odd){
    margin-right: 5px;
}
#menu img:nth-child(even){
    margin-right: 5px;
}
#menu img[src="./grafiki/menu.jpg"]{
    width: 100%;
}
@media only screen and (max-width: 760px) {
    main{
        font-size:20px;
		width:fit-content;
    }
	nav{
		font-size: 17px;
	}
    h1{
        font-size:40px;
    }
    h2{
        font-size: 30px;
    }
	nav li:nth-child(4){
		height:100%;
	}
    #tlo1, #tlo2{display:none;}
    #galeria{
        height: unset;
    }
    #szyld p:first-of-type {
        font-size:20px !important;
    }
    #zdjecia{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #zdjecia>a{
        flex-shrink: 0;
        width: 49% !important;
        height: 300px !important;
        flex:none;
        margin:4px;
    }
    .formWiersz{
        display: flex;
        flex-direction: column;
        margin:0;
    }
    .formWiersz>div{
        margin:10px 0;
        width: 100%;
        height: 100px;
        float: none !important;
        font-size: large;
    }
    form>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #rezerwacja select,#rezerwacja input,#rezerwacja input::placeholder, #rezerwacja label{
        font-size: 20px;
    }
    #rezerwacja select, input[type="date"], input[type="time"]{
        background-size: 20px !important;
    }
    #opinia p{
        font-size: 25px;
    }
    #mapa > img{
        display: none;
    }
    #map{
        float:none;
        margin:auto;
    }
    #map p {
        font-size: 30px;
    }
    #kontakt p {
        font-size: 25px;
        
    }
}
